@use "../../../../styles/zurich/style";
@import "../../../../styles/colorSchemes.scss";


.spacing{
  width:  20px;
  margin-left:20px ;
}

.contentFS {
  &_allianz {
    margin-top: 40px;
    padding: 10px;
    
   
  }
   &_zurich{
    line-height: 42px;
    margin: 20px 0;
   }
  
}

.aFS {
  &_allianz {
    color: $allianzMiddleBlue;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 550;
    letter-spacing: 1.5px;
    font-size: 16px;

    &:visited {
      color: $allianzMiddleBlue;
      text-decoration: none;
    }
    &:hover {
      color: $allianzLightBlue;
    }
  }
  &_uniqa {
    color: $uniqaGrey;

    &:visited {
      color: $uniqaGrey;
      text-decoration: none;
    }
    &:hover {
      color: $uniqaBlue;
      font-weight: 500;
    }
  }
}
