@use "./zurich/general" as zurich;
@import "./colorSchemes.scss";

html,
body {
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
  }
}

.app {
  &_uniqa {
    background-color: $uniqaLightBlue;
    margin: 0;
    padding-bottom: 350px;
  }
  &_zurich {
    @include zurich.style_default;
  }
}
