@use "./zurich/style" as zurich;
@use "./senacor/style" as senacor;
@use "./uniqa/style" as uniqa;
@use "./allianz/style" as allianz;

@import "./colorSchemes.scss";

html,
body {
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
  }
}

// ----- Folgendes ist  aktuell leider nicht möglich: ----------- 09.04.24
// $firms: uniqa, zurich, allianz, senacor;
// @each $firm in $firms {
  // .app {
    // &_#{$firm} {
      // @include #{$firm}.style_default;
    // }
  // }
// }
// mögliche Lösung:
// https://stackoverflow.com/questions/40377745/how-to-use-variable-for-include-name-inide-each-loop-scss


.app {
  &_uniqa {
    @include uniqa.style_default;
  }
  &_zurich {
    @include zurich.style_default;
  }
  &_senacor {
    @include senacor.style_default;
  }
  &_allianz {
    @include allianz.style_default;
  }
}

// ------------ BUTTONS --------------------

.buttonNewReg {
  &_zurich {
    @include zurich.button-regular;
  }
  &_uniqa {
    @include uniqa.button-regular;
  }
  &_allianz {
    @include allianz.button-regular;
  }
  &_senacor {
    @include senacor.button-regular;
  }
}

.buttonLogin {
  &_allianz {
    @include allianz.buttonLogin;
  }
  &_uniqa {
    @include uniqa.buttonLogin;
  }
  &_zurich {
    @include zurich.buttonLogin;
  }
  &_senacor {
    @include senacor.buttonLogin;
  }
}

// ------------ LOGIN FORMS --------------------
.input {
  &_zurich {
    @include zurich.input_container;
  }
  &_senacor {
    @include senacor.input_container;
  }
}

.mainLoginContent {
  &_uniqa {
    @include uniqa.container_highlighten;
  }
  &_zurich {
    @include zurich.input_default;
  }
  &_allianz {
    @include allianz.mainLoginContent;
  }
  &_senacor {
    @include senacor.mainLoginContent;
  }
}

// ------------ PEGA --------------------

.pega {
  &_container {
    &_uniqa {
      @include uniqa.pega_container
    }
    &_allianz {
      @include allianz.pega_container
    }
    &_zurich {
      @include zurich.pega_container
    }
    &_senacor {
      @include senacor.pega_container
    }
  }
}
