
// senacor scheme
$senacorWhite:          #ffffff;
$senacorGrey:           #373737;
$senacorBlue:           #7091c8;
$senacorGreen:          #82b8a1;
$senacorYellow:         #f6c111;

//uniqa scheme
$uniqaBlue:             #005CA9;
$uniqaLightBlue:        #EEF2FA;
$uniqaWhite:            #FFFFFF;
$uniqaGrey:             #617384;
$uniqaDarkGrey:         #1b1b1b;

//allianz scheme
$allianzDarkBlue:       #00337F;
$allianzMiddleBlue:     #00588E;
$allianzLightBlue:      #007AB3;
$allianzWhite:          #FFFFFF;
$allianzGrey:           #414141;


//zurich scheme
$zurichBlue:            #23366F;
$zurichLightBlue:       #2167AE;
$zurichBeige:           #DAD2BD;
$zurichWhite:           #FFFFFF;

