
body{
  
     margin: 0;
     font-size: 1rem;
     padding: 0%;    
  
  } 
  
 
  
  /* NAV BAR*/
 
  

   .homepage-container{
      padding: 0 3.2rem;
      background-color: white;
      max-width: 1376px;
      margin: auto;
  } 
  
  .logo{
    vertical-align: baseline;
    position: relative;
    bottom: 4px;
    height: auto;
    width: 150px;
  
  }
  
  .header-box{
    height: 6rem;
    margin: 1.6rem;
    padding-top: 1.6rem;
  
  }
  

