@import "../../styles/colorSchemes.scss";

.pega {
  &_content {
    display: flex;
    justify-content: center;
    max-width: 1400px;
    margin: auto;
    padding: 50px;
    flex-direction: column;
    align-items: center;
  }
  &_container {
    @mixin default {
      max-width: 1480px;
      margin: auto;
    }

    &_uniqa {
      @include default;
      background-color: $uniqaWhite;
    }
    &_allianz {
      @include default;
      background-color: $allianzWhite;
    }
    &_zurich {
      @include default;
      background-color: $zurichBeige;
    }
  }
}


@media only screen and (max-width: 768px) {

  .pega {
    &_content {
      padding: 20px;
    }
  }
}