@forward "./colorScheme.scss";

@mixin button_default {
  color: $allianzWhite;
  font-size: 16px;
  font-weight: 600;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  // min-width: 320px;   
  // width: fit-content; 
  height: 45px;
  margin: 30px auto;
  justify-content: center;
  cursor: pointer;

  @media screen and (max-width:768px) {
    // min-width: 220px;
  }

  &:hover {
    background-color: $allianzMiddleBlue;
  }
}

@mixin button_regular {
  @include button_default;
  background-color: $allianzLightBlue;
}

@mixin button_strong {
  @include button_default;
  background-color: $allianzDarkBlue;
  width: auto;
 
}

@mixin button_deactivated {
  @include button_default;
  background-color: $allianzGrey;  
}

@mixin buttonLogin{
  @include button_strong;
}
@mixin buttonNewReg{
  @include button_regular;
}