@import "../colorSchemes.scss";





@mixin a{

 & a:visited {
      color: $zurichBlue;
    }
}





//find in app.scss, which is general 
@mixin style_default{
    @include a;
    color: $zurichBlue;
    background-color: $zurichBeige;
    padding-bottom: 350px;
    font-size:  20px ;
   
    font-family: "Calibri", sans-serif;

    
}


