@forward "./colorScheme.scss";

@mixin button_default {
  color: $senacorGrey;
  font-size: 15px;
  font-weight: 900;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px 0 0 5px  ;
  padding: 5px 5px;
  width: 200px;
  height: 45px;
  margin: 10px auto;
  justify-content: center;
  cursor: pointer;

  @media screen and (max-width:768px) {
    // min-width: 220px;
  }

  &:hover {
    background-color: $senacorWhite;
    color: $senacorBlue;
  }
}

@mixin button_regular {
  @include button_default;
  background-color: $senacorBlue;
 
}

@mixin button_strong {
  @include button_default;
  background-color: $senacorYellow;
  width: auto;
 
}

@mixin button_deactivated {
  @include button_default;
  background-color: $senacorGrey;  
}

@mixin buttonLogin{
  @include button_regular;
}
@mixin buttonNewReg{
  @include button_regular;
}
