@forward "./colorScheme.scss";

@mixin input_default {
  font-family: "Arial", serif;
  justify-content: center;
  & input[type="password"],
  input[type="text"] {
    width: 661px;
    height: 60px;
    border: none;
    border-radius: 50px;
    margin-top: 5px;
    padding-left: 25px;
    color: $zurichLightBlue;
    font-size: 18px;
    font-weight: 400;
  }
}