@forward "./colorScheme.scss";


@mixin  container_highlighten{
    color: $uniqaDarkGrey;
    font-family: "Segoe UI", "Roboto", Helvetica, Arial, serif;
    background-color: $uniqaWhite;
    justify-content: space-between;
    box-shadow: 1px 1px 5px -4.5px #333333;

}

@mixin pega_container{
    background-color: $uniqaWhite;
}